@font-face{
    font-family: "PixeloidSans";
    src: url("../Fonts/PixeloidSans-mLxMm.ttf"); format('truetype'),
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "PixeloidSansBold";
    src: url("../Fonts/PixeloidSansBold-PKnYd.ttf"); format('truetype'),
    font-weight: 600;
    font-style: normal;

}
